<div class="navlogo">
  <%= image_tag ("logo.png"), class: 'logo' %>
  <nav>
    <div class="navbar-items">
      <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "logout-button" %>
      <p><%= link_to "Account", edit_user_registration_path, class: "navbar-list-item" %></p>
    </div>
  </nav>
</div>