<% if user_signed_in? %>
<div class="navlogo">
  <%= image_tag ("logo.png"), class: 'logo' %>
  <nav>
    <div class="navbar-items">
      <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "logout-button" %>
      <%= link_to "Categories", categories_path, method: :delete, class: "logout-button text-decoration-none" %>
    </div>
  </nav>
</div>
<% else %>
<div class="navlogo">
  <%= image_tag ("logo.png"), class: 'logo' %>
</div>
<% end %>