<p style="color: green"><%= notice %></p>
<div class="d-flex justify-content-center">
  <h1>Payments</h1>
</div>

<div id="payments">
  <% @payments.each do |payment| %>
    <%= render payment %>
  <% end %>
</div>
<div class="d-flex justify-content-around mt-5">
  <%= link_to "Back to category", category_path(@category) %>
  <%= link_to "New payment", new_category_payment_path %>
</div>