<p style="color: green"><%= notice %></p>

<%= render @payment %>

<div class="d-flex justify-content-around mt-5">
  <%= link_to "Back to payments", category_payments_path %>
  <%= button_to "Destroy this payment", @payment_path, method: :delete, class: "border border-0" %>
</div>