<div class="d-flex justify-content-center">
  <h1>Editing category</h1>
</div>

<%= render "form", category: @category %>

<br>

<div class="d-flex justify-content-around">
  <%= link_to "Show this category", @category %> |
  <%= link_to "Back to categories", categories_path %>
</div>
